<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yhf.pointsmanage.dao.UserDao">

    <resultMap id="userMapper" type="com.yhf.pointsmanage.entity.User">
        <id column="id" property="id" jdbcType="INTEGER"></id>
        <result column="user_name" property="userName" jdbcType="VARCHAR"></result>
        <result column="phone" property="phone" jdbcType="VARCHAR"></result>
        <result column="password" property="password" jdbcType="VARCHAR"></result>
        <result column="user_type" property="userType" jdbcType="TINYINT"></result>
        <collection property="bindMall" ofType="com.yhf.pointsmanage.entity.Mall">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="shop_impl" column="shopimpl_add" jdbcType="VARCHAR"/>
            <result property="consume_impl" column="consumeimpl_add" jdbcType="VARCHAR"/>
            <result property="logistics_impl" column="logisticsimpl_add" jdbcType="VARCHAR"/>
            <result property="order_impl" column="orderimpl_add" jdbcType="VARCHAR"/>
            <result property="points_impl" column="pointsimpl_add" jdbcType="VARCHAR"/>
            <result property="attribution_impl" column="attributionimpl_add" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <resultMap id="userBind" type="com.yhf.pointsmanage.entity.UserBindMall">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR"/>
        <result property="points" column="points" jdbcType="VARCHAR"/>
        <result property="userID" column="user_id" jdbcType="VARCHAR"/>
        <result property="mallID" column="bind_id" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="user">
        id,user_name,password,user_type,phone
    </sql>

    <sql id="userBind">
        id,user_name,points,user_id,bind_id,password,email,phone
    </sql>
    <!-- 登录 -->
    <select id="getUserMall" resultMap="userMapper">
        SELECT * FROM `userinfo` u
        LEFT JOIN `user_mall` u_m ON u.id=u_m.user_id
        LEFT JOIN `bind` m ON u_m.bind_id=m.id
        WHERE u.user_name = #{userName}
        AND u.password = #{password}
    </select>

    <!--根据用户名获取信息-->
    <select id="getUserMallByUserName" resultMap="userMapper">
        SELECT * FROM `userinfo` u
        INNER JOIN `user_mall` u_m ON u.id=u_m.user_id
        INNER JOIN `bind` m ON u_m.bind_id=m.id
        WHERE u.user_name = #{userName}
    </select>

    <!-- 查询用户名是否被注册过 -->
    <select id="haveUserName" resultType="java.lang.String">
        SELECT * FROM `userinfo`
        WHERE user_name = #{userName}
    </select>

    <!-- 查询手机是否被注册过 -->
    <select id="havePhone" resultType="java.lang.String">
       SELECT * FROM `userinfo`
        WHERE phone = #{phone}
    </select>

    <!-- 注册 -->
    <insert id="register" parameterType="com.yhf.pointsmanage.entity.User">
        INSERT INTO userinfo
        (
        <include refid="user"></include>
        )
        VALUES
        (
        #{id},
        #{userName},
        #{password},
        #{userType},
        #{phone}
        )
    </insert>

    <insert id="setUserBind" parameterType="com.yhf.pointsmanage.entity.UserBindMall">
        INSERT INTO user_mall
        (user_id,bind_id,points,user_name,password,email,phone)
        VALUES (
        #{userID},
        #{mallID},
        #{points},
        #{userName},
        #{password},
        #{email},
        #{phone}
        )
    </insert>

    <select id="getUserBind" resultMap="userBind">
        SELECT
        *
        FROM user_mall
        WHERE user_id=#{userID}
    </select>
</mapper>